<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyuan.demo.mapper.UserMapper">


	<resultMap id="UserPo" type="com.liyuan.demo.domain.po.user.UserPo">
		<result column="uid" property="uid" jdbcType="INTEGER"/>
		<result column="utype" property="utype" jdbcType="INTEGER"/>
		<result column="age" property="age" jdbcType="INTEGER"/>
		<result column="telphone" property="telphone" jdbcType="VARCHAR"/>
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP"/>
		<result column="Constellation" property="constellation" jdbcType="VARCHAR"/>
		<result column="signature" property="signature" jdbcType="VARCHAR"/>
		<result column="openid" property="openid" jdbcType="VARCHAR"/>
		<result column="subscribetime" property="subscribetime" jdbcType="TIMESTAMP"/>
		<result column="unsubscribetime" property="unsubscribetime" jdbcType="TIMESTAMP"/>
		<result column="state" property="state" jdbcType="INTEGER"/>
		<result column="coins" property="coins" jdbcType="DECIMAL"/>
	</resultMap>

	<sql id="fieldSql">
		 t.uid
		,t.utype
		,t.age
		,t.telphone
		,t.birthday
		,t.Constellation
		,t.signature
		,t.openid
		,t.subscribetime
		,t.unsubscribetime
		,t.state
		,t.coins
	</sql>

	<sql id="whereSql">
		<if test="uid != null">
			AND t.uid = #{uid,jdbcType = INTEGER}
		</if>
		<if test="uidList != null">
			AND 
			<foreach collection="uidList" item="uidItem" open="(" close=")" separator="OR">
				t.uid = #{uidItem,jdbcType = INTEGER}
			</foreach>
		</if>
		<if test="utype != null">
			AND t.utype = #{utype,jdbcType = INTEGER}
		</if>
		<if test="age != null">
			AND t.age = #{age,jdbcType = INTEGER}
		</if>
		<if test="telphone != null and telphone != ''">
			AND t.telphone = #{telphone,jdbcType = VARCHAR}
		</if>
		<if test="constellation != null and constellation != ''">
			AND t.Constellation = #{constellation,jdbcType = VARCHAR}
		</if>
		<if test="signature != null and signature != ''">
			AND t.signature = #{signature,jdbcType = VARCHAR}
		</if>
		<if test="openid != null and openid != ''">
			AND t.openid = #{openid,jdbcType = VARCHAR}
		</if>
		<if test="state != null">
			AND t.state = #{state,jdbcType = INTEGER}
		</if>
		<if test="coins != null">
			AND t.coins = #{coins,jdbcType = DECIMAL}
		</if>
	</sql>

	<select id="select" parameterType="Integer" resultMap="UserPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM user t 
		 WHERE t.uid = #{uid,jdbcType = INTEGER} 
	</select>

	<select id="count" parameterType="com.liyuan.demo.domain.condition.user.UserCondition" resultType="Integer" >
		SELECT 
			count(1)
		  FROM user t 
		<where>
			<include refid="whereSql"/>
		</where>
	</select>

	<select id="selectList" parameterType="com.liyuan.demo.domain.condition.user.UserCondition" resultMap="UserPo">
		SELECT 
		<include refid="fieldSql"/>
		  FROM user t 
		<where>
			<include refid="whereSql"/>
		</where>
	</select>

	<insert id="insert" parameterType="com.liyuan.demo.domain.po.user.UserPo">
		<selectKey resultType="Integer" order="AFTER" keyProperty="uid">
				SELECT LAST_INSERT_ID()
		</selectKey>

		INSERT INTO user(  
			uid
		<if test="utype != null">
			,utype
		</if>
		<if test="age != null">
			,age
		</if>
		<if test="telphone != null">
			,telphone
		</if>
		<if test="birthday != null">
			,birthday
		</if>
		<if test="constellation != null">
			,Constellation
		</if>
		<if test="signature != null">
			,signature
		</if>
		<if test="openid != null">
			,openid
		</if>
		<if test="subscribetime != null">
			,subscribetime
		</if>
		<if test="unsubscribetime != null">
			,unsubscribetime
		</if>
		<if test="state != null">
			,state
		</if>
		<if test="coins != null">
			,coins
		</if>
		)
		VALUES( 
			#{uid,jdbcType=INTEGER}
		<if test="utype != null">
			,#{utype,jdbcType=INTEGER}
		</if>
		<if test="age != null">
			,#{age,jdbcType=INTEGER}
		</if>
		<if test="telphone != null">
			,#{telphone,jdbcType=VARCHAR}
		</if>
		<if test="birthday != null">
			,#{birthday,jdbcType=TIMESTAMP}
		</if>
		<if test="constellation != null">
			,#{constellation,jdbcType=VARCHAR}
		</if>
		<if test="signature != null">
			,#{signature,jdbcType=VARCHAR}
		</if>
		<if test="openid != null">
			,#{openid,jdbcType=VARCHAR}
		</if>
		<if test="subscribetime != null">
			,#{subscribetime,jdbcType=TIMESTAMP}
		</if>
		<if test="unsubscribetime != null">
			,#{unsubscribetime,jdbcType=TIMESTAMP}
		</if>
		<if test="state != null">
			,#{state,jdbcType=INTEGER}
		</if>
		<if test="coins != null">
			,#{coins,jdbcType=DECIMAL}
		</if>
		)
	</insert>

	<update id="update" parameterType="com.liyuan.demo.domain.po.user.UserPo">
		UPDATE user t
		 <set>
		    <if test="utype != null">
			    t.utype = #{utype,jdbcType = INTEGER}, 
		    </if>
		    <if test="age != null">
			    t.age = #{age,jdbcType = INTEGER}, 
		    </if>
		    <if test="telphone != null">
			    t.telphone = #{telphone,jdbcType = VARCHAR}, 
		    </if>
		    <if test="birthday != null">
			    t.birthday = #{birthday,jdbcType = TIMESTAMP}, 
		    </if>
		    <if test="constellation != null">
			    t.Constellation = #{constellation,jdbcType = VARCHAR}, 
		    </if>
		    <if test="signature != null">
			    t.signature = #{signature,jdbcType = VARCHAR}, 
		    </if>
		    <if test="openid != null">
			    t.openid = #{openid,jdbcType = VARCHAR}, 
		    </if>
		    <if test="subscribetime != null">
			    t.subscribetime = #{subscribetime,jdbcType = TIMESTAMP}, 
		    </if>
		    <if test="unsubscribetime != null">
			    t.unsubscribetime = #{unsubscribetime,jdbcType = TIMESTAMP}, 
		    </if>
		    <if test="state != null">
			    t.state = #{state,jdbcType = INTEGER}, 
		    </if>
		    <if test="coins != null">
			    t.coins = #{coins,jdbcType = DECIMAL}, 
		    </if>
	    </set>
		 WHERE t.uid= #{uid,jdbcType = INTEGER}
	</update>

	<delete id="delete" parameterType="Integer">
		 DELETE FROM user
		  WHERE uid = #{uid,jdbcType=INTEGER} 
	</delete>
</mapper>